.flex-container
{
  display:flex;
  flex-flow: column wrap;
  min-height: 100vh;

}

html, body {
    margin: 0;
    height: 100%;
}
.content-container{
    display: flex;
   flex-flow: row;
    flex: 1;
}
.game_area
{
  display: flex;
  flex-flow: row;
  flex: 1;
}


.content{
  display: flex;
  flex-flow: column;
    flex:1;

}

.image
{
  flex: 1
}

.desc{
  flex: 3
}

.sidebar1, .sidebar2{

    flex: 0 0 90px;
}
.sidebar2
{
  order: 1
}
